body{
    margin:0;
    padding: 0;
}

.card{
    /* box-shadow: 4px 4px 5px rgb(255, 147, 147); */
    box-shadow: 3px 3px 5px red;
}
.contact{
    font-size: 40px;
    
}
.contact a{
    color: black;
    padding: 5px;
}

@media (min-width:250px) and (max-width:450px)
{
    .container1{
        width: 80%;
    }
}