body{
    margin: 0;
    padding: 0;
}

.error{
    background-color: rgb(243, 161, 161);
    padding: 15px;
    text-align: center;
    color: maroon;
    font-weight: bold;
    border-bottom: 2px solid rgb(209, 6, 6);
}
.container1{
   display: flex;
   flex-direction: column;
   background-color: rgb(164, 238, 213);
   height: 100vh;
   width: 100vw;
   align-items: center;
   justify-content: center;
}

img{
    height: 150px;
    width: 150px;

}
.forms{
    background-color: white;
    padding: 30px 80px 30px;
    border-radius: 15px;
    margin-top: 10px;
}

input{
    width: 25vw;
    height: 25px;
    border: 1px solid #dddddd;
 
}
input[type='submit']
{
    margin-top: 10px;
    width: 25.5vw;
    background-color: blue;
    border: none;
    border-radius: 12px;
    height: 35px;
    color: white;
}
.input{
    margin-top: 10px;
}

.captcha{
    margin-top: 10px;
}

.captcha input{
    width: 10vw;
}
.captcha span{
    background-color: rgb(144, 251, 135);
    padding: 7px 20px;
    color: black;
    font-weight: bold;
    letter-spacing: 0.5rem;
}


@media (min-width: 540px) and (max-width: 800px)
{
    input{
        width: 35vw;
        height: 35px;
    }
    .captcha input{
        width: 20vw;
    }
    .captcha span{
        padding: 7px;
    }
}
@media (min-width: 250px) and (max-width: 539px)
{
    .forms{
        padding: 30px 70px;
    }
    input{
        width: 57vw;
        height: 35px;
    }
    input[type = 'submit']
    {
       height: 35px;
    }
    .captcha input{
        width: 30vw;
    }
    .captcha span{
        padding: 5px;
    }
}