body
{
    margin: 0;
    padding: 0;
    width: 100vw;
}
.container1::before {
    background: url('image/pizza.jpg') no-repeat center center/cover; 
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 140vh;
    z-index: -1;
    /* opacity: 0.5; */

}

.container1 h1 {
    color: white;
}

.container1 {
    /* border: 2px solid red; */
    padding: 2px 2px;
    width: 100%;
    height: 100vh;
    margin: 5px 10px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* display: none; */
   

    
}

.error
{
    background-color: rgb(255, 213, 159);
    color: red;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
}
.input
{
    width: 330px;
    height: 36px;
    border-radius: 8px;
    padding: 0px 5px;
    text-align: center;
    margin-top: 9px;
    border: 1px solid rgba(112, 112, 112, 0.199);
    /* position: absolute; */
}
.textarea
{
    width: 330px;
    margin-top: 9px;
    margin-left: 15px;
    text-align: center;
    border: 1px solid rgba(112, 112, 112, 0.199);
    border-radius: 8px;
}
.button{
    background-color: rgb(120, 227, 253);
    width: 330px;
    margin-left: 15px;
}
.span{
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
a{
    width: 40%;
    
}

.fa{
   
    background-color: white;
    position: relative;
    left: 35px;
}

@media (min-width: 250px) and (max-width:530px)
{
    .container1{
         width: 100%;
    }
    .container1 input{
        width: 250px;
    }
    .container1 textarea
    {
        width: 250px;
    }
    .container1::before {
        background: url('media_pizza.jpg') no-repeat center center/cover; 
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 110vw;
        height: 140vh;
        z-index: -1;
        /* opacity: 0.5; */
    
    }
    .error
    {
        width: 110vw;

    }
}