body{
    margin: 0px;
    padding: 0px;
    background: #2196F3;
    font-family: 'Baloo Bhaina 2', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment{
    background: #f8f8f8;
    max-width: 350px;
  height: auto;
  padding: 20px 60px;
  
  border-radius: 12px;
  position: relative;
}
div.card{
    margin: 12px 0px;
    position: relative;
}

.card .fas, .card .far{
    position: absolute;
    left: 8px;
    bottom: 8px;
    font-size: 20px;
    /* bottom: 100px; */


}

input[type='text']
{
    border: 1px solid #dddddd;
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 1px;
}
select[name='year'], select[name='month']
{
    border: 1px solid #dddddd;
    height: 30px;
    width: 120px;
    padding-left: 40px;
    font-size: 14px;
    letter-spacing: 1px;
}
input[type='submit']
{
    width: 255px;
    height: 30px;
    background-color: #2196F3;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2', cursive;
}

 div.logo{
     position: absolute;
     top: -15%;
     left: 37%;
     font-size: 50px;
     border: 7px solid white;
     background-color: #2196F3;
     color: white;
     font-weight: bold;
     border-radius: 100px;
     padding: 4px 37px;
 }

 .error{
    background-color: rgb(243, 161, 161);
    padding: 15px;
    text-align: center;
    color: maroon;
    font-weight: bold;
    border-bottom: 2px solid rgb(209, 6, 6);
}